.div-data-table {
    margin: 12px auto;
    width: 90%;
}

.form-nova-pessoa {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin: 8px auto;
    width: 90%;
}
